/* =Structure
----------------------------------------------- */

#StockTicker {
	width:179px;
	height:29px;
	overflow:hidden;
}

.stock_list {
	height:29px;
	position:relative;
	left:179px;
}

.stock_list :hover{
	background:blue;
}

.stock_name {
	float:left;
	color: #5774A2;
	display: block;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	padding: 5px;
	width:50px;
	text-align:center;
	text-shadow: 0 1px 1px;
}